---
import '../../styles/global.css'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import ScheduleWidget from '../../components/ScheduleWidget.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Schedule - Southeast Jiu-Jitsu</title>
		<meta name="description" content="Southeast Jiu-Jitsu class schedule in Kraków. Check training times for Jiu-Jitsu, MMA and Kickboxing." />
	</head>
	<body class="bg-additional">
		<Header currentLang="en" />
		<main class="pt-[75px]">
			<ScheduleWidget />
		</main>
		<Footer currentLang="en" />
	</body>
</html>