---
import '../styles/global.css'
---

<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Southeast Jiu-Jitsu</title>
		<meta name="description" content="Southeast Jiu-Jitsu - Brazylijskie Jiu-Jitsu w Krakowie. Treningi dla wszystkich poziomów zaawansowania." />
	</head>
	<body class="bg-additional p-8">
		<h1 class="text-4xl font-bold text-primary mb-4">Southeast Jiu-Jitsu</h1>
		<p class="text-lg text-secondary">Brazylijskie Jiu-Jitsu w Krakowie</p>
	</body>
</html>
